# Generic
**/errors.log
data/*/*.jar
data/*/banned*
data/*/cache
data/*/eula.txt
data/*/help.yml
data/*/logs
data/*/ops.json
data/*/plugins/*.jar
data/*/usercache.json
data/*/version_history.json
data/*/whitelist.json
data/*/world*
data/**/config-backup.yml
vars.sh

# Gamemode-specific
data/bedwars/plugins/BedWars/arenas
data/bedwars/plugins/BedWars/data.yml
data/bedwars/plugins/BedWars/database
data/bedwars/plugins/BedWars/messages
data/bedwars/plugins/BedWars/record.yml
data/bedwars/plugins/BedWars/sign.yml
data/bedwars/plugins/MineHome/data.yml
data/bedwars/plugins/MineHome/profiles/
data/hungergames/plugins/HungerGames/arenas.yml
data/hungergames/plugins/HungerGames/leaderboard.yml
data/skywars/plugins/WorldEdit/.archive-unpack
