vars.sh
data/*/*.jar
data/*/cache
data/*/logs
data/*/eula.txt
data/*/help.yml
data/*/usercache.json
data/*/whitelist.json
data/*/version_history.json
data/*/banned*
data/*/world*
data/*/ops.json
data/*/plugins/*.jar

# Gamemode-specific
data/hungergames/plugins/HungerGames/arenas.yml
data/hungergames/plugins/HungerGames/leaderboard.yml
data/bedwars/plugins/Bedwars/database
data/bedwars/plugins/Bedwars/arenas
data/bedwars/plugins/Bedwars/data.yml
data/bedwars/plugins/Bedwars/messages
data/bedwars/plugins/MineHome/data.yml
