#################
# Required Vars #
#################

# The User IDs to run the containers as, if you don't know what this is, don't change them
DOCKER_UID="1000"
DOCKER_GID="1000"

# Versions of minecraft and plugins
MINECRAFT_VERSION=1.17.1
OLD_COMBAT_MECHANICS_VERSION=1.10.0
HUNGER_GAMES_VERSION=4.15.6
WORLDEDIT_BUKKIT_FILE_ID=3433988

#################
# Optional Vars #
#################

# A link to a static download of the bedwars plugin
# No official (static) download link exists, so you must either host it yourself somewhere
# or copy it in yourself to data/bedwars/plugins
BEDWARS_PLUGIN_URL=

# A link to a static download of the skywars plugin
# No official (static) download link exists, so you must either host it yourself somewhere
# or copy it in yourself to data/skywars/plugins
SKYWARS_PLUGIN_URL=

# The URL to download the ops file from
OPS_FILE_URL=

# The external domain to run the servers under
HOSTNAME="example.com"
